body {
    margin: 0;
    font-family: 'source sans pro';
}
a {
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c8e6c9;
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo i {
    color: #000000;
}

.navbar__menu {
     display: flex;
     list-style: none;
     padding-left: 0;
}

.navbar__menu li {
    padding: 8px 12px;
}
.navbar__menu li:hover {
    background-color: blanchedalmond;
    border-radius: 4px;
}

.navbar__icons {
    list-style: none;
    color: white;
    display: flex;
    padding: 8px 12px;
    padding-left: 0;
}

.navbar__toogleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: blanchedalmond;
}

.img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    width: 80px;
    height: 50px;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }    
    .navbar__menu li {
        width: 100%;
        text-align: center;
    }
    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%
    }
    .navbar__toogleBtn{
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }
    
    
}

